.App {
  background-color: maroon;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  height: 480px;
  margin: 3rem auto;
  border-radius: 1rem;  
  box-shadow: 0 0 1rem antiquewhite;
}

header {
  margin: 1rem;
}

h1 {
  font-size: 3rem;
  text-shadow: 0 0 5px black;
}

.main {
  background-color: #111;
  max-width: 30rem;
}

.input {
  padding: 1rem;
}

.strike {
  text-decoration: line-through;
}

button {
  background: maroon;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  float: right;
}

