.App {
  background-color: maroon;
  color: antiquewhite;  
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  height: 480px;
  margin: 3rem auto;
  border-radius: 1rem;  
  box-shadow: 0 0 1rem antiquewhite;
}

header {
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

.main {
  background-color: #111;
  max-width: 30rem;
}

.input {
  border-radius: 0 !important;
  margin: 2px;
}

.strike {
  text-decoration: line-through;
}

button {
  background: maroon;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  color: white;
}

